body {
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("book.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

div {
    width: 600px;
    height: 400px;
}
.login-container {
    background-color: lightgray;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    color:#00115c;
    text-shadow: 1px 1px 2px aliceblue;
    margin-bottom: 40px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}
input[type="email"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}
button {
    padding: 10px 20px;
    background-color: rgb(11, 171, 64);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
}

button:hover {
    background-color: #5a9ea2;
}